  <!DOCTYPE html>
  <head>
    <head><style type="text/css">.turbolinks-progress-bar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: #0076ff;
  z-index: 9999;
  transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
}</style>





    <link rel="stylesheet" media="all" href="/assets/application-16605eadccf37c23d1fa922dd614f45b9f2cf25723e2e4032f1975b02ea7d11f.css" data-turbolinks-track="reload">
    <script src="/assets/application-3ac47b8571e58aab844e8d0a988f0f55d8a16c1a75953470343f79cf1bec8528.js" data-turbolinks-track="reload"></script>
  <title>Bookers2Ver2</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="PBbAE2kX5exeabNueZ3J4xL6BYPRk9iM1xXqGg2F9aqGR8fUOvrEMIVcTnDZRljbe0OuKRSVbNvYzmjtqWb/rg=="><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></head>
  </head>


  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>Bookers</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li><%= link_to 'Home', user_path(current_user.id) %></li>
              <li><%= link_to 'Users', users_path %></li>
              <li><%= link_to 'Books', books_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path,method: :delete %></li>
              login中
              <% else %>
              <li><%= link_to "Home", new_user_registration_path %></li>
              <li><%= link_to "About", new_user_registration_path %></li>
              <li><%= link_to "sign_up", new_user_registration_path %></li>
              <li><%= link_to "login", new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
    <%= yield %>
  </body>








